.fs-4{
    color: #ffffff;
}
.spacer{
    margin-top:3em !important;
}
.footer{
background-color: #EDF2F6 !important;
}
.jumbotron{
    padding: 3em;
}
.jumbotron-bg{
    background-color:#EDF2F6 ;
}
.circular-img {
    border-radius: 50%;
    height: 350px;
  }
  .bold{
      font-weight: bold;
      line-height: 40px;
  }
  .header-nav{
    background-color:#2c87f0!important ; 
    height: 150px;
  }
  .header-nav h1{
      color: #ffffff;
      padding-top: 1em;
  }
  .s-32{
      height: 32px;
      width: 32px;
  }